.getStartedContainer {
    @include alignAbs;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    gap: 2rem;
    z-index: 1000;

    .getStartedForm {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        border-radius: 2rem;
        padding: 4rem 2rem;
        height: max-content;
        max-height: 90%;
        width: 30rem;
        max-width: 90%;
        overflow: auto;
        background-color: rgba($color: #ffffff, $alpha: 1.0);

        .exitBtn {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            font-family: GilroyLight;
            font-weight: 400;
            cursor: pointer;
            padding: 1rem;
        }

        .signUpText {
            // margin-bottom: 2rem;
            text-align: center;
        }

        .numberSignedUp {
            color: rgba($color: $primaryColor, $alpha: 1.0);
            text-align: center;

            span {
                font-size: 1.5rem;
            }
        }

        .emailInputSection {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            min-height: 4rem;
            width: 100%;
            margin-top: 2rem;

            input {
                padding: 0.5rem 1rem;
                width: 80%;
                height: 100%;
                border-radius: 2rem;
                border: none;
                box-shadow: 0 0 0.5rem 0 rgba($color: #000000, $alpha: 0.3);
                font-size: 1rem;
                font-weight: 600;
                padding: 0 22% 0 2rem;
                outline: none;
                z-index: 100;


                &:focus {
                    border: 1px solid rgba($color: #000000, $alpha: 0.6);
                }
                
                &::placeholder {
                    opacity: 0.6;
                }
            }

            button {
                width: 30%;
                height: 100%;
                border-radius: 2rem;
                margin-left: -20%;
                color: rgba($color: #ffffff, $alpha: 1.0);
                background-color: rgba($color: #000000, $alpha: 1.0);
                border: none;
                transition: background-color 0.2s;
                z-index: 101;

                &:hover {
                    background-color: rgba($color: #4e4e4e, $alpha: 1.0);
                }
            }

        }

        .freeSignUpText {
            color: rgba($color: #000000, $alpha: 0.6);
            font-size: 0.9rem;
            font-family: GilroyLight;
            text-align: center;
        }

        .signUpAlertText {
            color: red;
            font-size: 1rem;
            font-family: GilroyLight;
            text-align: center;
        }
    }
}

@media screen and (max-width: 400px) {
    .getStartedContainer {
        .emailInputSection {
            min-height: 3rem;
            input {
                padding: 0 22% 0 1rem;
            }
        }
    }
}
