.introContainer {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 40rem;
    padding: 0 2rem 0 2rem;

    .introBgContainer {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../assets/introBg.jpg');
        background-position: center;
        background-size: cover;
        z-index: -1;
        opacity: 0.5;
    }

    .introTextContainer {
        min-width: 28rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        white-space: pre-line;

        h1 {
            font-size: 3rem;
            font-weight: 800;
            width: 100%;
            color: rgba($color: #403B7C, $alpha: 1.0);
        }
    }
    
    .introPicContainer {
        width: max-content;
        height: max-content;
        display: flex;
        justify-content: flex-end;
        align-self: center;
        
        img {
            width: 90%;
            max-width: 60rem;
            height: auto;
        }
    }
}