.introContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "introTextContainer introPicContainer";
    width: 100%;
    height: max-content;

    .introBgContainer {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../assets/introBg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: 0.4;
    }

    .introTextContainer {
        grid-area: introTextContainer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8rem 2rem;
        
        h1 {
            white-space: pre-line;
            font-size: 3rem;
            font-weight: 800;
            width: 26rem;
            color: rgba($color: #403B7C, $alpha: 1.0);

            span {
                color: rgba($color: rgb(211, 43, 43), $alpha: 1.0);
            }
        }
    }
    
    .introPicContainer {
        grid-area: introPicContainer;
        height: max-content;
        display: flex;
        justify-content: flex-start;
        align-self: center;
        padding: 8rem 2rem;
        
        img {
            width: 100%;
            max-width: 40em;
            height: auto;
        }
        
        iframe {
            border: none;
            background-color: rgba($color: #000000, $alpha: 1.0);
            width: 100%;
            max-width: 40em;
            aspect-ratio: 16 / 9;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 768px) {
    .introContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "introPicContainer"
        "introTextContainer";
        width: 100%;
        height: max-content;
        padding: 3rem 0;

        
        .introPicContainer {
            justify-content: center;
            padding: 1rem 1rem;
            
            img {
                width: 80%;
            }

            iframe {
                width: 90%;
            }
        }
        
        .introTextContainer {
            justify-content: center;
            padding: 1rem 1rem;
            padding-left: 20%;
            
            h1 {
                font-size: 8vw;
                width: 100%;
            }
        }
    }
}