$transitionTime: 0.2s;

.navBar {
    width: 100%;
    height: $navHeight;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 Min(2rem, 5%);
    z-index: 100;
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    transition: transform $transitionTime, background-color $transitionTime;

    &.scrolled {
        transform: translateY(-100%);
    }

    &.notAtTop {
        background-color: rgba($color: #ffffff, $alpha: 0.6);
        box-shadow: 0 0 1rem 0 rgba($color: #000000, $alpha: 0.4);;
    }
    
    .navLeft {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: -0.5rem;

        img {
            width: 3rem;
            height: auto;
        }

        svg {
            width: 3rem;
            height: auto;

            // stop {
            //     transition: stop-color 0.2s ease-out;
            // }

            #paint0_linear_2_10 {
                --color-stop-1: #446987;
                --color-stop-2: #2FCCBE;
            }
            #paint1_linear_2_10 {
                --color-stop-1: #29CAB9;
                --color-stop-2: #446987;
            }
            #paint2_linear_2_10 {
                --color-stop-1: #557EA4;
                --color-stop-2: #2FCCBE;
            }

            // path {
            //     transition: all 0.2s ease-out;
            //     &:nth-child(3) {
            //         transform-origin: 50% 50%;
            //     }
            //     &:nth-child(1) {
            //         transform-origin: 50% 50%;
            //     }
            //     &:nth-child(2) {
            //         transform-origin: 50% 50%;
            //     }
            // }

            // &:hover {
            //     #paint0_linear_2_10 {
            //         --color-stop-2: #446987;
            //         --color-stop-1: #2FCCBE;
            //     }
            //     #paint1_linear_2_10 {
            //         --color-stop-2: #29CAB9;
            //         --color-stop-1: #446987;
            //     }
            //     #paint2_linear_2_10 {
            //         --color-stop-2: #557EA4;
            //         --color-stop-1: #2FCCBE;
            //     }
            // }
        }

        .title {
            color: rgba($color: $primaryColor, $alpha: 1.0);
            font-family: GilroyLight;
            font-size: 2.2rem;
            transition: color $transitionTime;
        }
    }

    .navRight {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .getStartedBtn {
            width: 9rem;
            height: 3rem;
            border: none;
            border-radius: 2rem;
            background-color: rgba($color: $primaryColor, $alpha: 1.0);
            transition: opacity 0.2s;

            h3 {
                color: white;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }
}