$transitionTime: 0.2s;

.navBar {
    width: 100%;
    height: $navHeight;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 2rem 0 0;
    z-index: 100;
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    transition: transform $transitionTime, background-color $transitionTime;

    &.scrolled {
        transform: translateY(-100%);
    }

    &.notAtTop {
        background-color: rgba($color: #ffffff, $alpha: 0.6);
        box-shadow: 0 0 1rem 0 rgba($color: #000000, $alpha: 0.4);;
    }
    
    .navLeft {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 4.5rem;
            height: auto;
            transform: translateX(20%);
        }

        .title {
            color: rgba($color: #30A7A9, $alpha: 1.0);
            color: linear-gradient;
            font-size: 2.5rem;
            transition: color $transitionTime;
        }
    }

    .navRight {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .getStartedBtn {
            width: 9rem;
            height: 3rem;
            border: none;
            border-radius: 2rem;
            background-color: rgba($color: #30A7A9, $alpha: 1.0);
            transition: opacity 0.2s;

            h3 {
                color: white;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }
}