*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Gilroy, arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: Gilroy;
  src: url("../assets/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: GilroyLight;
  src: url("../assets/Gilroy-Light.otf");
}

button *, label {
  font-family: GilroyLight;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.appContainer {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: block;
  overflow-x: hidden;
}

.navBar {
  width: 100%;
  height: 6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 Min(2rem, 5%);
  z-index: 100;
  background-color: white;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}

.navBar.scrolled {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navBar.notAtTop {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
}

.navBar .navLeft {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -0.5rem;
}

.navBar .navLeft img {
  width: 3rem;
  height: auto;
}

.navBar .navLeft svg {
  width: 3rem;
  height: auto;
}

.navBar .navLeft svg #paint0_linear_2_10 {
  --color-stop-1: #446987;
  --color-stop-2: #2FCCBE;
}

.navBar .navLeft svg #paint1_linear_2_10 {
  --color-stop-1: #29CAB9;
  --color-stop-2: #446987;
}

.navBar .navLeft svg #paint2_linear_2_10 {
  --color-stop-1: #557EA4;
  --color-stop-2: #2FCCBE;
}

.navBar .navLeft .title {
  color: #00a8a8;
  font-family: GilroyLight;
  font-size: 2.2rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.navBar .navRight {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .navRight .getStartedBtn {
  width: 9rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #00a8a8;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.navBar .navRight .getStartedBtn h3 {
  color: white;
}

.navBar .navRight .getStartedBtn:hover {
  opacity: 0.6;
}

.introContainer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1.1fr;
      grid-template-columns: 0.9fr 1.1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "introTextContainer introPicContainer";
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.introContainer .introBgContainer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/introBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.3;
}

.introContainer .introTextContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: introTextContainer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 2rem;
}

.introContainer .introTextContainer h1 {
  white-space: pre-line;
  font-size: 3rem;
  font-weight: 800;
  width: 26rem;
  color: #0d0d0d;
}

.introContainer .introTextContainer h1 span {
  display: inline-block;
}

.introContainer .introTextContainer h1 span.wordPop {
  -webkit-animation: popWord 0.6s ease-in 1s forwards;
          animation: popWord 0.6s ease-in 1s forwards;
}

@-webkit-keyframes popWord {
  50% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  75% {
    -webkit-transform: scaleY(1.8);
            transform: scaleY(1.8);
    color: #0d0d0d;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    color: #00a8a8;
  }
}

@keyframes popWord {
  50% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  75% {
    -webkit-transform: scaleY(1.8);
            transform: scaleY(1.8);
    color: #0d0d0d;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    color: #00a8a8;
  }
}

.introContainer .introPicContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: introPicContainer;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 8rem 2rem;
}

.introContainer .introPicContainer iframe {
  border: none;
  background-color: black;
  width: 100%;
  max-width: 40em;
  aspect-ratio: 16 / 9;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .introContainer {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "introPicContainer" "introTextContainer";
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 3rem 0;
  }
  .introContainer .introPicContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 1rem;
  }
  .introContainer .introPicContainer img {
    width: 80%;
  }
  .introContainer .introPicContainer iframe {
    width: 90%;
  }
  .introContainer .introTextContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 1rem;
    padding-left: 20%;
  }
  .introContainer .introTextContainer h1 {
    font-size: 8vw;
    width: 100%;
  }
}

.companiesContainer {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  gap: 4rem;
}

.companiesContainer h1 {
  white-space: pre-line;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: #00a8a8;
}

.companiesContainer .marqueeContainer {
  width: 80rem;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.companiesContainer .marqueeContainer .marquee {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.companiesContainer .marqueeContainer .marquee.marqueeAnimation {
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

.companiesContainer .marqueeContainer .marquee img {
  height: 4rem;
  width: auto;
  margin: 0 3rem;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.6;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  .companiesContainer {
    padding: 6rem 0;
  }
  .companiesContainer h1 {
    font-size: 2rem;
  }
  .companiesContainer .marqueeContainer {
    width: 100%;
  }
  .companiesContainer .marqueeContainer .marquee img {
    margin: 0 1rem;
    height: 2rem;
  }
}

.aboutContainer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgba(9, 92, 92, 0.2);
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContainer h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #00a8a8;
}

.aboutContainer .aboutSummary {
  width: 100%;
  max-width: 60rem;
  padding: 2rem 0;
}

.aboutContainer .aboutSummary h3 {
  font-family: GilroyLight;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  color: black;
}

.getStartedContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 2rem;
  z-index: 1000;
}

.getStartedContainer .getStartedForm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  border-radius: 2rem;
  padding: 4rem 2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 90%;
  width: 30rem;
  max-width: 90%;
  overflow: auto;
  background-color: white;
}

.getStartedContainer .getStartedForm .exitBtn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-family: GilroyLight;
  font-weight: 400;
  cursor: pointer;
  padding: 1rem;
}

.getStartedContainer .getStartedForm .signUpText {
  text-align: center;
}

.getStartedContainer .getStartedForm .numberSignedUp {
  color: #00a8a8;
  text-align: center;
}

.getStartedContainer .getStartedForm .numberSignedUp span {
  font-size: 1.5rem;
}

.getStartedContainer .getStartedForm .emailInputSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4rem;
  width: 100%;
  margin-top: 2rem;
}

.getStartedContainer .getStartedForm .emailInputSection input {
  padding: 0.5rem 1rem;
  width: 80%;
  height: 100%;
  border-radius: 2rem;
  border: none;
  -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 600;
  padding: 0 22% 0 2rem;
  outline: none;
  z-index: 100;
}

.getStartedContainer .getStartedForm .emailInputSection input:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.getStartedContainer .getStartedForm .emailInputSection input::-webkit-input-placeholder {
  opacity: 0.6;
}

.getStartedContainer .getStartedForm .emailInputSection input:-ms-input-placeholder {
  opacity: 0.6;
}

.getStartedContainer .getStartedForm .emailInputSection input::-ms-input-placeholder {
  opacity: 0.6;
}

.getStartedContainer .getStartedForm .emailInputSection input::placeholder {
  opacity: 0.6;
}

.getStartedContainer .getStartedForm .emailInputSection button {
  width: 30%;
  height: 100%;
  border-radius: 2rem;
  margin-left: -20%;
  color: white;
  background-color: black;
  border: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  z-index: 101;
}

.getStartedContainer .getStartedForm .emailInputSection button:hover {
  background-color: #4e4e4e;
}

.getStartedContainer .getStartedForm .freeSignUpText {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  font-family: GilroyLight;
  text-align: center;
}

.getStartedContainer .getStartedForm .signUpAlertText {
  color: red;
  font-size: 1rem;
  font-family: GilroyLight;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .getStartedContainer .emailInputSection {
    min-height: 3rem;
  }
  .getStartedContainer .emailInputSection input {
    padding: 0 22% 0 1rem;
  }
}
/*# sourceMappingURL=index.css.map */