*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Gilroy, arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: Gilroy;
  src: url('../assets/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: GilroyLight;
  src: url('../assets/Gilroy-Light.otf');
}

button *, label {
  font-family: GilroyLight;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$navHeight: 6rem;
$getStartedHeight: calc(100vh - 6rem);

@mixin alignAbs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

@import './app';
@import './nav';
@import './intro';
@import './companies';
@import './about';
@import './getStarted';
